.DS_Store
.DS_Store?
._*
.Trashes
.Spotlight-V100
.project
.classpath
.settings
.idea
*.iml
.gradle
.nb-gradle
*~
.vscode

/build
/cli/build
/clid/build
/cmd/build
/common/build
/core/build
/io/build
/launcher/build
/osgi-log/build
/system/build
/tpe/build

/bin
/cli/bin
/clid/bin
/cmd/bin
/common/bin
/core/bin
/io/bin
/launcher/bin
/osgi-log/bin
/system/bin
/tpe/bin
