.DS_Store
.DS_Store?
._*
.Trashes
.Spotlight-V100
.project
.classpath
.settings
target
.idea
*.iml
.gradle
.nb-gradle

/build
/api/build
/cli/build
/clid/build
/cmd/build
/common/build
/io/build
/launcher/build
/me/build
/osgi-log/build
/system/build
/timeoutadmin/build
/workshop/build

