<?xml version="1.0" encoding="UTF-8" ?>

<!--
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<Configuration monitorInterval="60">

	<Properties>
		<Property name="log.dir">${sys:jruyi.home.dir}/inst/${sys:jruyi.inst.name}/log</Property>
	</Properties>

	<Appenders>
		<RollingRandomAccessFile
				name="FILE"
				fileName="${log.dir}/server.log"
				filePattern="${log.dir}/$${date:yyyy-MM}/server-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout>
				<Pattern>%d %-5level [%logger] %msg%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy/>
				<SizeBasedTriggeringPolicy size="10 MB"/>
			</Policies>
			<DefaultRolloverStrategy/>
		</RollingRandomAccessFile>

		<Console name="STDOUT">
			<PatternLayout>
				<Pattern>%highlight{%d{HH:mm:ss.SSS} %-5level [%logger{0}] %msg%n}</Pattern>
			</PatternLayout>
		</Console>
	</Appenders>

	<Loggers>
		<Logger name="org.apache" level="WARN"/>
		<Logger name="org.jruyi" level="DEBUG"/>
		<Root>
			<AppenderRef ref="STDOUT"/>
			<AppenderRef ref="FILE"/>
		</Root>
	</Loggers>

</Configuration>
